<div class="wrapper">
  <div class="jumbotron">
    <div class="container">
      <h1>Simple Catalog</h1>
        <p>view the item, and it's price</p>
        <p><a class="btn btn-primary btn-lg" href="products/index" role="button">View Now</a></p>
    </div>
  </div> <!-- end of jumbotron -->


</div> <!-- end of wrapper -->
